*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}



body {
    max-width: 100%;
    overflow-x: hidden;
}

.header{
    display: flex;
    background: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow:  -5px -5px 15px rgba(255, 255, 255, 0.1),
            5px 5px 15px rgba(0, 0, 0, 0.35);
}

.left{
    flex: 0.3;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 700;
    color: #14447c;
}


.center{
    flex: 1.5;
    justify-content: left;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    margin-right: 90px;
}

.center ul li {
    list-style: none;
    display: inline-block;
}

.center ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #3c98e0;
    transition: 0.5s;
    margin-left: 4.4vw;
}

.center ul li a:hover{
    color: #14447c;
}

@media screen and (max-width:720px){
    .center ul li a{
        display: none;
    }
    .header{
        width: 205vw;
    }
    .body {
        display: none;
    }
}

.right{
    flex: 0.5;
    justify-content: right;
    position: relative;
}

.right h6{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    color: #14447c;
}

.right h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 29px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3c98e0;
    margin-right: 70px;
    transition: 0.5s;
}

.right h3:hover{
    color: #14447c;
}

.body{
    display: flex;
    height: 105vh;
    width: 100%;
}

.body-left{
    flex: 0.55;
}

.body-right{
    flex: 0.45;
    display: flex;
    justify-content: flex-end;
}

.body-right .circle{
 width: 700px;
 height:  700px;
 background: #3c98e0;
 border-radius: 50%;
 margin-right: -130px;
 margin-top: 50px;
 box-shadow:inset -5px -5px 15px rgba(255, 255, 255, 0.1),
         inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.body-right .circle .boy{
    width: 490px;
    margin-top: 20px;
    margin-left: 90px;
}

.exp{
    width: 270px;
    height: 150px;
    background: #a3c3da;
    display: flex;
    border-radius: 12px;
    margin-top: -550px;
    margin-left: -50px;
    box-shadow:  -5px -5px 15px rgba(255, 255, 255, 0.1),
            5px 5px 15px rgba(0, 0, 0, 0.35);
}

.exp-left{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp .exp-left .dumaloq{
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dumaloq img{
    width: 40px;
}

.exp-right{
    flex: 0.6;
}

.years{
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
}

.staj{
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-top: 3px;
}

.children{
    width: 450px;
    height: 150px;
    background: #a3c3da;
    margin-top: 396px;
    margin-left: 130px;
    border-radius: 25px 0 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  -5px -5px 15px rgba(255, 255, 255, 0.1),
            5px 5px 15px rgba(0, 0, 0, 0.35);
}

.childrenCircle{
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.childrenCircle img{
    width: 45px;
}

.line{
    width: 4px;
    border-radius: 30px;
    height: 100px;
    background: #fff;
    margin-left: 20px;
}

.available{
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-left: 20px;
}

.goggles{
    width: 45px;
    margin: 100px;
}

.goggles:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.scubadiver{
    width: 55px;
    margin: 0 0 50px -40px;
}

.scubadiver:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.suit{
    width: 45px;
    margin: 0 30px 97px 60px;
}

.suit:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.helmet{
    width: 45px;
    margin-bottom: 48px;
    margin-left: 30px;
}

.helmet:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.mavzu{
    font-family: 'Righteous', cursive;
    font-size: 18px; 
    color: #3a4268;
    margin-left: 100px;
}

.chiziq{
    width: 35px;
    height: 3px;
    margin-left: 210px;
    margin-top: -12px;
    background: #3c98e0;
}

.company{
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    color: #14449d;
    line-height: 58px;
    font-weight: 700;
    margin-left: 100px;
    word-spacing: 7px;
}

.tekst{
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    line-height: 25px;
    margin-left: 100px;
    color: #3a4268;
}

.tank{
    width: 45px;
    margin: 0 0 95px 60px;
}

.tank:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.fish{
    width: 45px;
    margin: 0 0 45px 60px;
    transition: 0.5s;
}

.fish:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}

.rightbar{
    height: 150px;
    width: 800px;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch{
    width: 40px;
    margin-right: 10px;
    margin-left: -90px;
}

.branch:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.branchnumber{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color: #14449d;
    font-weight: 700;
    margin-bottom: 25px;
}

.branches{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a4268;
    margin: 45px 0 0 -45px;
}

.branchplus{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: #1e73be;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 3px;
}

.service{
    width: 40px;
    margin-right: 10px;
    margin-left: 50px;
}

.service:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.servicenumber{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color: #14449d;
    font-weight: 700;
    margin-bottom: 25px;
}

.services{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a4268;
    margin: 45px 0 0 -67px;
}

.client{
    width: 45px;
    margin-right: 10px;
    margin-left: 50px;
}

.client:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.clientsnumber{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color: #14449d;
    font-weight: 700;
    margin-bottom: 25px;
}

.clients{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a4268;
    margin: 45px 0 0 -95px;
}

.event{
    width: 40px;
    margin-right: 10px;
    margin-left: 50px;
}

.event:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

.eventsnumber{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color: #14449d;
    font-weight: 700;
    margin-bottom: 25px;
}

.events{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a4268;
    margin: 45px 0 0 -118px;
}

.helppanel{
    display: block;
    width: 99vw;
    height: 75vh;
    background: #c6ddf6;
    margin-top: -1vh;
}

.inTouch{
    height: 37vh;
    width: 89vw;
    padding: 2vh 5vw;
    display: flex;
}

.touchLeft{
    flex: 1;
    display: block;
    padding: 0 1vw;
}

.another{
    padding: 0 1vw;
    flex: 1;
}

.lagatip a{
    font-family: 'Righteous', cursive;
    color: #14447c;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
}

.yozuv{
    font-size: 16px;
    line-height: 24px;
    color: #3a4268;
    font-family: 'Varela Round', sans-serif;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.shakl{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid#3a4268;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shakl img{
    width: 35px;
    height: 35px;
}

.shakllar{
    display: flex;
    margin-top: 5vh;
}

#insta{
    margin-left: 1vw;
}

.touchCenter{
    flex: 1;
    display: block;
    padding: 0 1vw;
}

.getin{
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    font-size: 24px;
    font-weight: 600;
}

.scoobaa{
    font-size: 16px;
    font-family: 'Righteous', cursive;
    color: #3a4268;
}

.locationn{
    display: flex;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    margin-top: 10px;
}

.locationn img{
    height: 16px;
    margin-right: 5px;
}
.anyquestions{
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    margin-top: 3vh;
    color: #14449d;
    text-align: center;
    font-weight: 700;
}

.provide{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    text-align: center;
}

form{
    text-align: center;
}

form input{
    width: 220px;
    height: 60px;
    border: 3px solid #0740ab;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 5px;
    transition: 0.5s;
}

form input:hover{
    width: 225px;
    height: 65px;
    border: 3px solid #0049e4;
}

form input:focus{
    border: 2px solid #0740ab;
    outline: none;
}

::placeholder{
    color: #0049e4;
    font-size: 18px;
}

.sendit{
    width: 220px;
    height: 60px;
    border: 2px solid #0049e4;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    background-color: #0740ab;
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}

.leave{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nextbody{
    width: 86vw;
    height: 97vh;
    padding: 0px 0 20px 100px;
    justify-content: center;
    display: block;
    padding-top: 12vh;
}

.nextbodyTop{
    margin-top: 3vh;
    display: flex;
    height: 20vh;
    width: 80vw;
    margin-left: 7vw;
}

.images{
    margin-top: 1.5vh;
    height: 61vh;
    width: 80vw;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}

.images img{
    width: 19vw;
    border-radius: 12px;
}

.diverOne {
    display: flex;
    justify-content: center;
    flex: 1;
    transition: .5s;
}

.diverOne:hover{
    border-left: 5px outset #0049e4;
    border-right: 5px outset #0049e4;
}

.diverTwo:hover{
    border-left: 5px solid #0049e4;
    border-right: 5px solid #0049e4;
}

.diverThree:hover{
    border-left: 5px solid #0049e4;
    border-right: 5px solid #0049e4;
}

.diverOne:hover img {
    transform: scale(1.1);
    border: 5px solid #0049e4;
  }

.diverOne img {
    transition: transform .5s ease;
}

.diverTwo {
    display: flex;
    justify-content: center;
    flex: 1;
    transition: .5s;
}

.diverTwo:hover img {
    transform: scale(1.1);
    border: 5px solid #0049e4;
  }

.diverTwo img {
    transition: transform .5s ease;
}


.diverThree {
    display: flex;
    justify-content: center;
    flex: 1;
    transition: .5s;
}

.diverThree:hover img {
    transform: scale(1.1);
    border: 5px solid #0049e4;
  }

.diverThree img {
    transition: transform .5s ease;
}
.nextbodyTopRight{
    flex: 0.6;
    padding: 2vh 8vw 0 4vw;
}

.nextbodyTopRight h3{
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    font-weight: 400;
    line-height: 26px;
}

.nextbodyTopLeft{
    flex: 0.4;
}

.leader{
    display: flex;
    align-items: center;
    height: 4vh;
}

.leader h3{
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    margin-left: 1vw;
}

.leader .linear{
    width: 25px;
    height: 3px;
    background: #3380c4;
    margin-left: 0.5vw;
}

.systematic{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    color: #14449d;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 7px;
}

.thirdBody{
    width: 99vw;
    height: 90vh;
    margin-top: -4vh;
    padding-top: 0;
}

.thirdBodyTop{
    width: 99vw;
    height: 7vh;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineone{
    height: 3px;
    width: 35px;
    background: #0049e4;
}

.schedule{
    font-size: 18px;
    line-height: 29px;
    margin: 0 10px;
    font-family: 'Varela Round', sans-serif;
    color: #3a4268;
    font-weight: 500;
}

.lineTwo{
    height: 3px;
    width: 35px;
    background: #0049e4;
}

.recreational{
    font-size: 42px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: #14449d;
    font-weight: 600;
    font-style: normal;
}

.thirdBodyMiddle{
    width: 99vw;
    height: 18vh;
    margin-top: 3vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.thirdBodyMiddleTwo{
    width: 99vw;
    height: 32vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.coursera{
    width: 82.5vw;
    height: 50px;
    /* background: yellow; */
    display: flex;
    text-align: center;
}

.courseOne{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #1e73be;
}

.courseOne h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #14449d;
}

.courseTwo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ;
    border-bottom: 3px solid transparent;
    margin: 0 auto;
    width: 0%;
    position: relative;
}

.courseTwo h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #3c98e0;
    transition: all 2s;
    padding: 10px 18vw;
}

.courseTwo h3:hover{
    color: #14449d;
}

.courseTwo:hover{
    border-bottom: 3px solid #1e73be;
    width: 100%;
}
